@import "./_reset.scss";
@import "./_base.scss";
@import "./_vars.scss";
body {
  height: 100%;
}

.header {
  height: 15vh;
  min-width: 99%;
}

.section-main {
  height: 71.7vh;
  min-width: 99%;
  border: 10px solid grey;
}
.main {
  min-width: 74.1%;
  height: 97.6%;
}

.aside {
  min-width: 24%;
  height: 97.6%;
  float: left;
}

.footer {
  position:absolute;
  bottom:0;
  height:8.5vh;
  min-width: 99%;
}